<launch>
  <arg name="stargazer_config" default="$(find stargazer_ros)/res/tmirobot_test.yaml"/>

  <!--Stargazer Pipeline-->
  <include file="$(find stargazer_ros)/launch/stargazer_nodelets_tmirobot.launch" ns="stargazer">
    <arg name="stargazer_config" value="$(arg stargazer_config)"/>
  </include>

  <!--Visualizer-->
  <include file="$(find stargazer_ros)/launch/landmark_visualizer.launch">
    <arg name="stargazer_config" value="$(arg stargazer_config)"/>
    <arg name="start_rviz" value="true"/>
  </include>

</launch>